:root {
  --bg-green: #b2ed5f;
  --dark-green: #004429;
  --light-gray: #ffffff;
  --white: #ffffff;
  --black: #000000;

  --score-bg: #ffffff;
  --border-radius: 12px;

  --font-main: "Arial", sans-serif;
}
